*{
    margin: 0 px;
    padding: 0px ;
    box-sizing: border-box;
}

/************************** Top DIV ********************************/
#topimagediv{
    /* border: 1px solid black; */
    height: 70px;
}
#banner{
    width: 100%;
}
#google_play{
    position: absolute;
    top: 0.7%; 
    right: 3.5%;  
    width: 9%;
}

/************************** Top DIV ********************************/



/************************** MIddle DIV ******************************/
#middle_logo_div{
    /* border: 1px solid blue; */
    width: 100%;
    height: 87px;
    margin:0px auto 0px;
    padding: 0% 17% 0% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F9F9;
}
#logo_div{
    /* border: 1px solid black; */
    /* height: 64px; */
    /* width: 23%; */
    cursor: pointer;
    
}
#logo_div img{
    width: 100%;
}
#search_div{
    /* border: 1px solid black; */
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#all_category{
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 220px;
    border-right: 1px solid transparent;
    background-color: white;
}
#all_category_select{
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    padding: 0px 10px;
    color: #999999;
    cursor: pointer;
    font-size: 70%;
}
#search_inpt_div{
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 387px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
#search_inpt{
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    padding: 10px;
    color: #999999;
    font-size: 70%;
}
#search_inpt:focus{
    outline:none;
}
#search_btn{
    border: 1px solid #DD0285;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 53px;
    background-color: #DD0285;
    color: white;
    cursor: pointer;
}
#profile_div{
    /* border: 1px solid black; */
    height: 64px;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 95%;
}
#fav_div{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#fav_div:hover{
    border: 1px solid #DD0285;
    background-color: #DD0285;
    color: white;
}
#account_div{
    /* border: 1px solid black; */
    display: flex;
    justify-content: right;
    align-items: center;
    height: 30px;
    width: 150px;
    padding: 0px 10px;
    cursor: pointer;
}
#avatar{
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 0px 5px;
}
#avatar:hover{
    border: 1px solid #DD0285;
    background-color: #DD0285;
    color: white;
}
#content{
    font-size: 85%;
    color: #232323;
    cursor: pointer;
}
#content_dropdown{
    /* border: 1px solid red; */
    position: absolute;
    top: 125px;
    width: 150px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    background-color: white;
    color: #232323;
   
    box-shadow: rgba(0,0,0,0.15)0px 3px 3px 0px;
}
#content_dropdown2{
    /* border: 1px solid red; */
    position: absolute;
    top: 65px;
    left:75%;
    width: 100px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    background-color: white;
    color: #232323;
   
    box-shadow: rgba(0,0,0,0.15)0px 3px 3px 0px;
}
#login_dropdown{
    border-bottom: 1px solid #f5f5f5;
    flex: 1;
    padding: 0px 10px;
    display: flex;
    align-items: center;

}
#register_dropdown {
    /* border: 1px solid black; */
    flex: 1;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}
/************************** MIddle DIV ******************************/


/************************** BOTTOM DIV ******************************/
#bottom_nav{
    border: 1px solid #DD0285;
    width: 100%;
    height: 55px;
    background-color: #DD0285;
}

#nav_content{
    width: 80%;
    margin: 0px auto;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#nav_content div{
    /* border: 1px solid black; */
    padding: 0px 15px;
    text-align: left;
    display: flex;
    flex: 10;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 80%;
    font-weight: 600;
    cursor: pointer;
}
#nav_content div:hover{
    background-color: #C60277;
}
#nav_content div:nth-child(4){
    flex: 18;
}
#nav_content div:nth-child(5) {
    flex: 20;
}
#nav_content div:nth-child(9) {
    flex: 16;
    background-color: #C60277;
    cursor: pointer;
}
#nav_dropdown{
    /* border: 1px solid black; */
    position: absolute;
    height: 420px;
    width: 70%;
    margin: auto;
    left: 15%;
    display: flex;
    box-shadow: rgba(176, 176, 176, 0.15)0px 0px 3px 0px;
    background-color: white;
    margin-top: 1px;
    padding-bottom: 10px;
}
span{
    font-size: 80%;
}
/************************** BOTTOM DIV ******************************/


/************************** DropDownContent ******************************/
.DropDownHeading{
    /* border: 1px solid black; */
    width: 230px;
    text-align: left;
    height: 100%;
    font-size: 100%;
    font-weight: 600;
    color: #222222;
    padding: 20px 0px 0px 10px;
    /* background-color: white; */
    /* z-index: 1; */
    position: relative;
}
.DropDownContent{
    /* border:1px solid black; */
    height: 90%;
    color: #666666;
    display: flex;
    flex-direction: column;
    /* z-index: 1; */
}
.headDrop{
    z-index: 1;
}
.DropdownContentSingle{
    /* border: 1px solid green; */
    margin: 3px 0px;
    font-size: 90%;
    font-weight: 400;
    cursor: pointer;
    z-index: 1;
}
.DropdownContentSingle:hover{
    color: #DD0285;
}
/************************** DropDownContent ******************************/
